<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Feed JS -->
    <script defer src="/scripts/showFeed.js"></script>
    <!-- Main JS -->
    <script defer src="/scripts/main.js"></script>
    <title>Podfeed</title>
</head>
<body>
    <main>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password1" class="form-control" id="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password2" class="form-control" id="password2" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
        
</body>
</html>