<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://kit.fontawesome.com/8f0079a728.js" crossorigin="anonymous" defer></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous" defer></script>
  <script src="/scripts/search.js" defer></script>
  <title>Search | Podfeedr</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Podfeedr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item">
                    <a class="nav-link" href='#'>
                        <span id="username-nav-link">&langle;Username&rangle;</span>
                    </a>
                </li>
            </ul>
            <button class="btn btn-outline-info my-2 my-sm-0 signout" type="submit">Sign Out</button>
        </div>
    </nav>
  <main>
    <h1>Search for podcasts</h1>
    <form class="form-inline mt-2 mt-md-0 container">
      <label for="search-bar" class="mr-4 sr-only">Search</label>
      <input id="search-bar" class="form-control mr-sm-2" placeholder="example: judge john hodgman" />
      <button type="submit" id="submit-btn" class="btn btn-info">Search</button>
    </form>
    <div class="album py-5 container">
      <div id="results">
      </div>
    </div>
  </main>
</body>
</html>