.signup-body, .signin-body {
    background-image: url('/images/podcast-bkgd.png');
    background-size: cover;
    background-repeat: no-repeat;

}

form {
    max-width: 600px;
}

/* Sign Up */

body main {
  padding: 0 30px;
}

.hook {
  color: white;
  margin-top: 30vh;
}

@media (max-width: 991.98px) {
  .hook {
    margin-top: 70px;
  }
}

.hook h1 {
  font-size: 80px;
}

#signin-form, #no-account {
    max-width: 540px;
    margin: 0 auto;
}

#no-account {
    margin-top: 7px;
    text-align: center;
    padding: 20px 0;
}

#no-account > p {
    padding-top: 8px;
}

.input-error {
    background-color: #f8d7da;
    border: 2px solid #721c24;
};

.error-msg {
    font-size: 14px;
    color: #721c24;
}

/* Search/Feed */

a:hover {
    text-decoration: none;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-img {
  width: 100%;
  max-height: 293px;
}

.col-sm-6 {
  max-width: 325px;
}

.heart {
  font-size: 20px;
  color: #ff0000;
}

.form-inline {
  flex-wrap: nowrap;
}

#form-container {
  margin-top: 90px;
  max-width: 540px;
}

.favorites-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.fa-plus {
    padding-right: 10px;
}
