.bg-dark {
  background-color: #202326!important;
  opacity: .8;
}

/* Nav bar */
.navbar-toggler {
  display: none;
}

.navbar-collapse {
  flex-basis: 0;
  text-align: right;
}

.collapse:not(.show) {
  display: inline-block;
}

/* Sign Up/Sign In */
.signup-body, .signin-body {
  background-image: url('/images/podcast-bkgd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

form {
  max-width: 600px;
}

body main {
  padding: 0 30px;
}

.hook {
  color: white;
  margin-top: 20vh;
}

.hook h1 {
  font-size: 80px;
}

#signin-form, #no-account {
    max-width: 540px;
    margin: 0 auto;
}

.signinbtn {
  text-align: center;
}

#no-account {
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
}

#no-account > p {
    padding-top: 8px;
}

.input-error {
    background-color: #f8d7da;
    border: 2px solid #721c24;
};

.error-msg {
    font-size: 14px;
    color: #721c24;
}

.jumbotron {
  height: 100%;
}

.signup-btn, .signin-btn {
  position: relative;
  top: 20px;
}

/* Search/Feed */

/* Background img src: https://www.freecreatives.com/backgrounds/white-paper-texture.html */
.feed-body, .search-body {
  background-image: url('http://images.freecreatives.com/wp-content/uploads/2015/04/white-linen-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.search-body h1 {
  text-align: center;
  margin-bottom: 30px;
}

#luckyButton {
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-img {
  width: 100%;
  max-height: 293px;
}

.col-sm-6 {
  max-width: 325px;
}

.heart {
  font-size: 20px;
  color: #ff0000;
}

.form-inline {
  flex-wrap: nowrap;
}

#form-container {
  max-width: 540px;
}

.favorites-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.fa-plus {
    padding-right: 10px;
}

/* Search Bar */
/* Source: https://bootsnipp.com/snippets/GaeQR */
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar-hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:#17a2b8;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #17a2b8;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
}

/* Responsive */
@media (max-width: 991.98px) {
  .hook {
    margin: 50px auto 50px auto;
  }
}

@media (max-width: 576px) {
  #signin-form {
    height: 350px;
  }

  .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:#17a2b8;
    transition: width 0.4s linear;
  }  
}