body {
    background-color: whitesmoke;
}

form {
    max-width: 600px;
}

#signin-form, #no-account {
    max-width: 540px;
    margin: 0 auto;
}

#no-account {
    margin-top: 7px;
    text-align: center;
    padding: 20px 0;
}

#no-account > p {
    padding-top: 8px;
}

.input-error {
    background-color: #f8d7da;
    border: 2px solid #721c24;
};

.error-msg {
    font-size: 14px;
    color: #721c24;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .result-img {
    width: 100%;
    max-height: 293px;
  }

  .col-sm-6 {
    max-width: 325px;
  }

  .heart {
    font-size: 20px;
    color: #ff0000;
  }

  .form-inline {
    flex-wrap: nowrap;
  }

  #form-container {
    margin-top: 60px;
    max-width: 540px;
  }

  @media (min-width: 740px) and (max-width: 900px) {
    #form-container {
        margin-left: 40%;
    }
  }

  @media (min-width: 900px) {
      #form-container {
          margin-left: 55%;
      }
  }
