body {
  background: lavender;
}

.search-result {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.result-img {
  width: 100%;
}

.podcast-name {
  display: inline;
}

.col-sm-6 {
  max-width: 300px;
}

.heart {
  font-size: 20px;
  color: #ff0000;
}
