body {
  background: lavender;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.result-img {
  width: 100%;
  max-height: 293px;
}

.col-sm-6 {
  max-width: 325px;
}

.heart {
  font-size: 20px;
  color: #ff0000;
}
